<div class="container text-center pt-5">
  <div class="col-12 pt-5">
    <h1>Sala : {{sala.nomeSala}}</h1>
    <h1>Film : {{film.titolo}}</h1>
  </div>
  <div class="row">
    <div class="col-6 mx-auto bg-dark my-5 border border-3 rounded-2">
      <h1>SCHERMO</h1>
    </div>
  </div>
  <!-- Itera su tutte le righe accoppiate -->
  <ng-container
    *ngFor="
      let index of fileSinistra?.length
        ? [].constructor(fileSinistra.length)
        : [];
      let i = index
    "
  >
    <div class="d-flex justify-content-center mb-2">
      <!-- Fila sinistra -->
      <ng-container *ngFor="let posto of fileSinistra[i]">
        <button
          class="btn me-1"
          [ngClass]="getStilePosto(posto)"
          style="width: 60px; height: 60px; font-weight: bold"
          (click)="togglePosto(posto)"
        >
          {{ posto.codice }}
        </button>
      </ng-container>

      <!-- Corridoio centrale -->
      <div style="width: 80px"></div>

      <!-- Fila destra corrispondente -->
      <ng-container *ngIf="fileDestra[i]">
        <ng-container *ngFor="let posto of fileDestra[i]">
          <button
            class="btn me-1"
            [ngClass]="getStilePosto(posto)"
            style="width: 60px; height: 60px; font-weight: bold"
            (click)="togglePosto(posto)"
          >
            {{ posto.codice }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <div class="container mt-5">

    <div class="mt-4 text-white">
      <legend>Legenda:</legend>
      <p><span class="badge bg-success">Disponibile</span></p>
      <p><span class="badge bg-warning text-dark">Selezionato</span></p>
      <p><span class="badge bg-danger">Occupato</span></p>
    </div>

    <div class="mx-auto mt-4">
      <button
        class="btn btn-primary mt-4"
        [disabled]="postiSelezionati.length === 0"
        (click)="vaiAConferma()"
      >
        Prenota
      </button>
    </div>

  </div>
</div>
