<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-5">
      <img [src]="'assets/images/' + film?.locandina" class="img-fluid rounded shadow" alt="{{ film?.titolo }}">
    </div>
    <div class="col-md-7">
      <h2 class="text-primary">{{ film?.titolo }}</h2>
      <p><strong>Genere:</strong> {{ film?.genere }}</p>
      <p><strong>Regista:</strong> {{ film?.regista }}</p>
      <a class="btn btn-outline-primary mt-3" routerLink="/">Torna alla lista</a>
    </div>
  </div>
</div>
