<div class="container mt-4" *ngIf="film">
  <div class="mat-elevation-z4" style="max-width: 500px; margin: 40px auto;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ film.titolo }}</mat-card-title>
        <mat-card-subtitle>{{ film.genere }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'/assets/images/' + film.locandina" alt="{{ film.titolo }}">
      <mat-card-content>
        <p><strong>Regista:</strong> {{ film.regista }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="primary" routerLink="/">Torna alla lista</button>
      </mat-card-actions>
    </mat-card>
  </div>


<div class="container mt-4" *ngIf="!film">
  <p>Caricamento in corso o film non trovato.</p>
</div>
