.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Nasconde la scrollbar orizzontale su tutti i browser */
::-webkit-scrollbar {
  display: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}
